     /* CSS RESET */

     *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    html{
        overflow-x: hidden;
    }
    body{
        overflow-x:hidden;
    }
       /* HAMBURGER DISPLAY NONE */
       
       .ham{
        display: none;
       }
    
       .box{
        height: 100vh;
       }
    
    #box1{
        height: 90vh;
    }
    
      /* THIS IS FRONTPAGE NAVBAR SECTION */
    
     #navbar{
        height: 10vh;
        background-color: white;
        position: relative;
          
        /* THIS PORTION ADDED AFTER REALIZING THIS I HAVE WRITTER 2TIMES NAVBAR BY MISTAKE */
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        padding: 0 40px;
        top: 0;
        z-index: 9999;
    }

      /* THIS CODE IS WRITTER FOR RESPONSIVE NAVIGATION MENU  */
     .navigation{
       /* display: none; */
       position: absolute;
       width: 100%;
       height: 100vh;
       background-color:aquamarine;
       top: 0;
       left: 0;
       opacity: 0;
       visibility: hidden;
       transition: all 0.6s linear;
       transform: translateX(100%);
    }

     .active .navigation{
        transition: all 0.6s linear;
        transform: translateX(0);
        opacity: 1;
        visibility:visible;
        
    } 

    .active #bar{
        display: none;
    }

    .active #cancel{
        display: block;
    }

    .ham{
        display: block;
        font-size: 1.5rem;
        z-index: 99999;
        padding: 4px 10px;
        background-color: #27ae60;
        color: #fff;
        border-radius: 4px;
       }
    
      /* THIS IS THE LOGO */
    #logo img{
        width: 110px;
    }
        /* THIS SECTION IS NO LONGER NEEDED */
    /* #navbar{
        height: 10vh;
        background-color: white;
    
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 120px;
        top: 0;
        z-index: +1;
    
    } */
    
      /* THESE ARE HOME ABOUT SERVICES ... ETC */
    
    .navElements{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .navElements  li{
        list-style: none;
    }
    .navElements  li a{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.4rem;
        color: #000;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .navElements  li a:hover,
    .navElements  li a:active{
        background-color: green;
        color: white;
    }
    
        /* THIS IS THE WHOLE SIGN IN PORTION */
    
        #signIn{
            cursor: pointer;
            height: 10vh;
        display: flex;
        align-items: center;
        gap: 20px;
        display: none;
        }
        
    #sign{
        display: flex;
        gap: 5px;
        padding: 6px 8px;
        background-color: rgb(104, 220, 104);
        color: white;
        border-radius: 4px;

    }
    #sign h2{
        font-size: 0.8rem;
        color: white;
    }

    #signIn h3{
        font-size: 1rem;
    }
    
    #list{
        display: flex;
        gap: 10px;
    }
    
    #heart{
        font-size: 1rem;
        color: rgb(127, 239, 127);
        font-weight: 600;
    }
    
    
      /* THE WHOLE UPPER PORTION WRITTER TO CREATE THE NAVBAR */
    
        /* THIS IS THE FRONTPAGE BACKGROUND AND ADVANCE FILTER SECTION */
       
    #box1 #first{
        position: relative;
        height: 90vh;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
    }
    #box1 #first::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: url('real/FrontPage/banner.png') no-repeat center center/cover;
        z-index: -1;
    
    }
    
    
    
    #box1 #first #firstHeading h2{
        text-align: center;
        font-size: 1.6rem;
        padding: 0 10px;
        letter-spacing: 1px;
        word-spacing: 3px;
        color: white;
    }
    
    #box1 #first #firstHeading h4{
        padding: 0 10px;
        font-size: 0.8rem;
        color: rgb(160, 152, 152);
        text-align: center;
    }
    
    #searchSection{
        
        /* width: 80%;
        height: 50%; */
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        gap: 10px;
        padding: 10px 12px;
        margin-top: 2rem;
        background-color: white;
        border-radius: 4px;
    }
    
    .inputSection{
        display: flex;
        flex-direction: column;
    }
    .inputSection input{
        margin: 0px 0px;
        padding: 2px 6px;
        height: 1.4rem;
        width: 12rem;
        font-weight: 500;
        color: #000;
        font-size: 1.2rem;
        outline: none;
    }
    
    .inputSection input::placeholder{
        font-weight: 500;
        color: #000;
        font-size: 1.1rem;
    }
    
    #filter{
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    #filter h3{
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    #filter .fa-magnifying-glass{
        padding: 6px 20px;
        background-color: green;
        color: white;
        font-size: 1.3rem;
        border-radius: 8px;
    }
    
      /* FORNT PAGE BACKGROUND A SEARCH SECTION ENDS HERE MAYBE SOMEDAY I HAVE TO LEAEN EFFICIENT CODING */
    
        /* HERE STARTS OUR SECOND PAGE SO LETS TRY TO MAKE THIS EFFICIENT */
    
    
    #box2{
        position: relative;
        height: 100%;
        width: 100%;
        background-color:white;
        /* display: flex; */
        justify-content:flex-start;
        padding: 40px 0px;
        padding-bottom: 100px;
        align-items: center;
        flex-direction: column;
    
        
    
    
    }
    #box2 h2{
        text-align: center;
        padding-top: 40px;
        font-size: 2rem;
        color: #2d3954;
    }
    #box2 h3{
        padding-top: 6px;
        color: gray;
    }
    
    .container{
        height: 100%;
        width: 100vw;
        padding-top:20px ;
     padding: 20px 0px;
        
         display: flex;
        flex-wrap: wrap;
         justify-content:center;
        align-items: center;
        
    } 
    
    .grid{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 120px;
        background-color: rgb(255, 253, 253);
        border: 1px solid gray;
        border-radius: 8px;
        box-shadow: 1px 1px 2px gray;
       
    }

    .grid:hover{
        transition: none;
        transform: none;
    }
    .grid h4{
        padding-top: 10px;
        font-weight: 500;
    }
    
    .grid p{
        color: #2d3954;
        font-size: 12px;
    }
    
    .grid img{
        height: 55px;
        width: 55px;
    }
    
    
     /* BOX 2 ENDS HERE */
    
    
    
    
    
    
    #box3{
        padding: 50px 10px;
        height: 100%;
        position: relative;
        background-color:aliceblue;
        border-top:1px solid rgb(193, 181, 181);
        text-align: center;
       
        
        
    }

    #box3 h1{
        font-size: 2rem;
        color: #2d3954;
     }
    
     #box3 p{
        padding: 15px 10px;
        color: gray;
        font-size: 14px;
        font-weight: bold;
    
     }
    
    
    #box3 .gridContainer{
    
        padding: 30px 20px;
    
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px; */
        gap: 30px;
        display: flex;
        overflow-x: scroll;
       
    
    }

    #box3 .gridContainer::-webkit-scrollbar{
        display: none;
    }
    
    
    #box3 .gridContainer .gridBox{
        height: 300px;
        width: 200px;
        /* border: 2px solid red; */
        box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
    
    }
    
    #box3 .gridContainer .gridBox img{
        height: 145px;
        width: 200px;
    }
    
      .location{
        height: 105px;
        background-color:azure;
      }
      .gridBox h2{
        font-size: 1rem;
      }

      .location .rentSale{
        padding: 6px 10px;
        display: flex;
        justify-content: space-between;
      }
    
      .location .rentSale h3{
        background: rgba(255, 152, 0, 0.1);
        color: rgb(255, 152, 0);
        padding: 4px 8px;
        border-radius: 4px;
      }

      .location h2{
        font: 0.7em sans-serif;
        font-weight: bold;
      }

     
    
      .location .rentSale .fa-heart{
        font-size: 1rem;
        color: gray;
        cursor: pointer;
      }
    
      .pricing{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 10px;
        height: 50px;
        border-top: 1px solid black;
        
      }
    
      .pricing .price .value{
        padding: 4px 6px;
        background-color: #27ae60;
        color: white;
        font-size: 1rem;
        border-radius: 30px;
      }

      .pricing h3{
        color: black;
        font-size: 0.6rem;
        /* display: none; */
      }


      
   /* END OF 3RD PAGE */


   /* Here Starts our award section */

   .awardSection{
    height: 100%;
    background-color: #122947;
    text-align: center;
    padding: 2rem 0;
   }

    .awardSection p{
    color: #27ae60;
    font-size: 24px;
   } 
   
   .awardSection h1{
    padding-top: 10px;
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    padding: 10px 14px;
   }
   .awardcontainer{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
   }

  .awardIcon{
     font-size: 34px;
     color: #fff;
     background: hsla(0,0%,100%,.1);
     border-radius: 4% 50%;
     /* height: 100px;
     width: 100px; */
     padding: 20px 20px;
}

.award h2{
    font-size: 22px;
    color: #fff;
}

.award h3{
    color: grey;
    font-size: 0.8rem;
}
  
   /* AWARD SECTION ENDS HERE  */


   /* START OF EXPLORE BY LOCATION SECTION */

   .explore{
    height: 100%;
    background-color:white;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .explore h2{
    font-size: 2.3rem;
   }

   .explore p{
    padding-top: 10px;
    color: #72809d;
    font: 1rem sans-serif;
   }

   .exploreBox{
    position: relative;
    margin-top: 1rem;
    padding: 2rem 2rem;
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   }

   
   .exploreItem
   {     position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 180px;
          width: 280px;
          border-radius: 8px;
          box-shadow: 1px 1px 8px grey;
   }

   .exploreItem::before{
    content: "";
    position: absolute;
    height: 85%;
    width: 85%;
    top: 0;
    left: 0;
    background-color:rgba(15,28,47,.3);
    opacity: 1;
    margin: 20px 24px;
    border-radius: 4px;
   }

 

   .h2{
    position: absolute;
   }

   .h2 h5{
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1x 2px black;
    z-index: +2;
   }

   .h2 .para{
    display: flex;
    gap: 15px;
   
   }

   .h2 .para p{
    font-size: 0.8rem;
    color: #fff;
   }



   .exploreItem img
    {
    height: 180px;
    width: 280px;
    border-radius: 8px;
    /* opacity: 0.9; */

   }

      /* EXPLORE VIA LOCATION END HERE */


        /* OUR AGENTS STARTS FROM HERE */

        .agentSection{
            position: relative;
            height: 100%;
            width: 100%;
            text-align: center;
            /* padding-top: 1rem; */
            background-color: white;
            padding-bottom: 1rem;
        }

        .agentSection h1{
            font-size: 2.2rem;
            word-spacing: 2px;
        }

        .agentSection p{
            padding-top: 10px;
            color:#122947;
            font-size: 1rem;
            font-weight: 500;
            
        }

        .agentBox{
            margin-top: 1rem;
            /* width: 100%;
            height: 100%; */
            /* border: 1px solid red; */
           /* display: flex;
           justify-content: center;
           align-items: center;
           flex-wrap: wrap;
           gap: 20px;  */
           padding: 10px 30px;
            display: flex;
           gap: 30px;
           overflow-x: scroll;
         
        }

        .agents{
            height: 300px;
            width: 300px;
            border: 2px solid gray;
            padding: 10px 10px;
            box-shadow: 2px 2px 6px gray;
            color:gray;
            cursor: pointer;
            background-color:white;
        }

        .agents .h3class{
            text-align: left;
            background: #ff6922;
             border-radius: 50px;
             color: white;
             padding: 6px 6px;
             width: 40%;
             font-size: 0.7rem;
        }

        .agentProfile{
         height: 70%;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         /* gap: 140px; */
        }


      

        .agentProfile img{
            height: 80px;
            width: 80px;border-radius: 50%;
        }

        .agentLocation{
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            /* padding-top: 10px; */
        }

        .agentLocation h3{
            font: 0.7em sans-serif;
            font-weight: bold;
            color: rgb(44, 41, 41);
        }

        .socialMedia{
            display: flex;
            padding-top: 10px;
            gap: 10px;
        }

        .socialMedia .fa-brands{
            color: darkblue;
            font-size: 0.8rem;
            padding: 4px;
            background-color: rgb(232, 226, 226);
            border-radius: 50%;
            
        }

        .fa-check{
             
            transform: translateY(-50px) translateX(40px);
     color: white;
     background-color: #108be7;
     font-size: 10px;
      padding: 5px;
     border-radius: 50%;
        }

         /* MESSAGE AND CALLS */


         .agentContact{
            display: flex;
            justify-content: space-between;
            padding: 4px 4px;
            gap: 10px;
            padding-top: 6px;
         }

         .message{
            display: flex;
            gap: 4px;
            height: 30px;
            width: 100px;
            background-color: #27ae60;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 0.8rem;
            border-radius: 8px;
         }

         .call{
            height: 30px;
            width: 40px;
            color: white;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            font-size: 0.8rem;
         }
            
       .pName{
        color: #122947;
       }

       /* AGENT SECTION ENDS HERE */

       /* FAQ SECTION STARTS HERE */

       .faq{
        /* height: 200px; */
        position: relative;
        height: 100%;
        background-color: #19b259;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: #fff;
       }

      

       .question h1{
        font-size: 1.2rem;
       }
       .question p{
        font-size: 0.7rem;
       }

       .contactUs{
             color: white;
             background-color: white;
             font-size: 0.8rem;
             padding: 4px 6px;
             color: #19b259;
             border-radius: 24px;
             cursor: pointer;
             
       }
